body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    position: fixed;
    z-index: 10;
    color: black;
    left: 15px;
    top: 10px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}