@font-face {
    font-family: silk;
    src: url(/fonts/slkscr.ttf);
}

h1 {
    text-align: center;
    font-family: silk, sans-serif;
    color: blueviolet;
    text-shadow: 2px 2px #420a8b;
    font-size: 40px;
}

body {
    background-color: rgb(197, 164, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div {
    position: relative;
}

#score, #lives, #timer {
    font-size: 20px;
    color: rgb(181, 116, 242);
    text-shadow: 1px 1px #772bda;
    font-family: silk, sans-serif;
}

#stats {
    display: flex;
    justify-content: space-between;
}

#startButton, #restartButton, #rulesButton {
    color: rgb(181, 116, 242);
    text-shadow: 1px 1px #772bda;
    background-color: bisque;
    font-family: silk, sans-serif;
    border-radius: 3px;
}

#buttons {
    display: flex;
    justify-content: space-between;
}